$mobile: 'only screen and (min-device-width : 320px) and (max-device-width : 480px)';

/* iPads (portrait and landscape) ----------- */
$tablet: 'only screen and (min-device-width : 768px) and (max-device-width : 1024px)';

/* Desktops and laptops ----------- */
$desktop: 'only screen  and (min-width : 1224px)';

/* Large screens ----------- */
$large-desktop: 'only screen  and (min-width : 1824px)';
